*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    position: relative;
}

#mobile-page{
    width: 414px;
    margin: 0 auto;
    position: relative;
}

img{
    height: 87px;
    width: 144px;
    border-radius: 10px;

    object-fit: cover;
}

/* ------------------------------------------------------------- */

header{
    background-color: #CF2B2B;
    width: 414px;
    height: 96px;
    padding: 10px 10px 10px 20px;

    position: fixed;
    top: 0;
    left: 1;
    right: 1;

    z-index: 1;
}

header > h1{
    font-family: Righteous;
    font-weight: 400;
    font-size: 44px;
    line-height: 54.63px;
    color: white;

    z-index: 1;
}

header > p {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 21.09px;
  
    z-index: 1;
}

/* ------------------------------------------------------------- */

main{
    background-color: #E5E5E5;;
    margin-top: 96px;
    width: 414px;
    height: 930px;
    margin-bottom: 96px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container{
    background-color: #E5E5E5;
 
    height: 300px;
    padding: 20px 15px;
}

.title{
    font-family: Righteous;
    font-weight: 400;
    font-size: 26px;
    line-height: 32.28px;
    color: #333333;

    height: 45px;
}

.content{
    height: 222px;
    overflow-x: scroll;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.card{
    background-color: white;

    height: 216px;
    width: 172px;

    border-radius: 5%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px -4px;

    cursor: pointer;
    position: relative;
}

.card_selected{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.card > h3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 18.75px;
    color:#333333;
}

.card > p {
    align-self: flex-start;
    font-size: 15px;
    font-weight: 300;
    line-height: 17.58px;
    color: #A6A6A6;
}

.card .price{
    align-self: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: black;
}

.logo{
    display: none;
    
    height: 16px;
    width: 16px;
    background-image: url(./imagens/Vector.png);

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-15px, -21px);
}

.logo-checked{
    display: inline;
}

/* ------------------------------------------------------------- */

footer{
    background-color: white;

    width: 414px;
    height: 96px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 100;
    right: 100;

}

#button-request{

    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: none;
    background-color: #CBCBCB;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#button-request > p {
    width: 200px;
    color:white;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align:center;
}

#button-able{
    background-color: #32B72F;
}

#button-able > p{
    font-weight: bold;
}

/* -------------------------------------------------------------- */

.filter{
    filter: opacity(0.2);
}

.adjust-header-layout{
    transform: translateY(-96px);
}

.adjust-footer-layout{
    transform: translateY(96px);
}

.confirm-request{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(calc(-50%), calc(-40%));
    
    background-color: #50D074;
    width: 377px;
    height: 370px;
    padding: 10px;
    border-radius: 9px;
    
    box-sizing: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;    
}

.confirm-request-tittle{
    font-size: 22px;
    font-weight: bold;
    line-height: 25.78px;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.confirm-request-content{
    color: white;
    font-size: 22px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.bold{
    font-weight: bold;
}

.confirm-request-send-button{
    background-color: white;
    color: #50D074;
    font-size: 22px;
    font-weight: bold;
    line-height: 25.78px;
    height: 52px;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.confirm-request-send-button a {
    color: #50D074;
}

.confirm-request-cancel-button{
    color: white;
    font-size: 22px;

    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* ------------------------------------------------------------- */